.form {
  @apply flex flex-col rounded-[20px] p-[20px] bg-[#121212] gap-[20px];
  border: 1px solid #333333;
  animation: 0.5s fadeIn ease-in-out;

  > header {
    @apply flex gap-[20px] items-center;

    > button {
      @apply bg-[#1E1E1E] rounded-[12px] font-extrabold text-white text-[16px] leading-[12px];
      padding: 14px 20px;

      &:hover {
        @apply bg-[#222222];
      }

      &:active {
        @apply bg-[#252525];
        outline: 1px solid;
      }
    }

    > p {
      @apply font-extrabold text-[16px] text-[#FFFFFF80] leading-[12px];
    }
  }

  > main {
    @apply flex flex-col gap-[20px];
    > section {
      @apply flex flex-col gap-[40px] justify-between items-center rounded-[20px] p-[20px];
      border: 1px solid #333333;
      &:first-child {
        @apply flex flex-col gap-[20px];
        > div {
          @apply flex w-full justify-between gap-[20px];

          > div {
            @apply flex flex-col gap-[2px];

            > span {
              > p {
                &:first-child {
                  @apply font-bold text-[20px] text-white;
                }

                &:last-child {
                  @apply font-bold text-[16px] text-[#FFFFFFBF];
                }
              }
            }

            > p {
              @apply font-bold text-[16px] text-[#FFFFFFBF];
            }
          }
        }
      }

      &:last-child {
        @apply flex flex-col gap-[20px] h-full;
        > div {
          > p {
            @apply font-bold text-[16px] text-[#FFFFFFBF];
          }

          &:first-child {
            @apply w-full flex justify-between;
          }
          &:last-child {
            @apply w-full h-full flex flex-col gap-[10px];

            > span {
              @apply flex flex-col gap-[10px];

              > p {
                @apply font-bold text-[16px] text-[#FFFFFFBF];
              }
            }
          }
        }
      }
    }
  }
}

.button {
  @apply text-[16px] bg-white text-[#000000] font-bold rounded-xl w-[275px] h-[52px];

  &:hover {
    @apply text-white bg-transparent;
    border: 1px solid #ffffff;
  }
}

.top,
.bottom {
  @apply flex flex-col gap-[20px] items-center;
}

.bottom {
  > span {
    @apply flex flex-col gap-[10px] items-center;

    > a {
      @apply text-[#FFFFFF80] font-semibold text-[16px] leading-[12px] cursor-pointer;

      &:hover {
        @apply text-[#FFFFFFBF];
      }

      &:active {
        @apply text-white;
      }
    }
  }
}

.input {
  @apply max-w-[200px] bg-[#1E1E1E] text-[#FFFFFF80] font-bold text-base rounded-[12px];

  &::placeholder {
    @apply font-semibold text-[#FFFFFF40];
  }

  &:focus {
    outline: none;
    color: #ffffff;
    background: #222222;
  }
}

.textarea {
  @apply max-w-full bg-[#1E1E1E] text-[#FFFFFF80] font-bold text-base rounded-[12px] p-[12px];

  &::placeholder {
    @apply font-semibold text-[#FFFFFF40];
  }

  &:focus {
    outline: none;
    color: #ffffff;
    background: #222222;
  }
}

.error {
  @apply text-[#FF463CBF];
  border: 1px solid #ff463cbf;

  &::placeholder {
    @apply text-[#FF463CBF];
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
