@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manrope";
  src: url("./Manrope-VariableFont_wght.ttf");
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  @apply max-h-fit scroll-smooth bg-cover bg-no-repeat;
  background: url("./noise.png"),
    linear-gradient(
      65.5deg,
      rgba(255, 181, 158, 0.08) 0%,
      rgba(158, 255, 249, 0.08) 34.37%,
      rgba(224, 158, 255, 0.08) 68.75%,
      rgba(158, 255, 168, 0.08) 100%
    ),
    #000000;
}

* {
  @apply p-0 m-0 border-none select-none transition-all;
  color: #fff;
  font-family: "Manrope";
  user-select: none;
  font-weight: normal;
}

body {
  @apply w-full h-full flex flex-col items-center overflow-x-hidden justify-center p-[20px];
}
